<button type="button" class="btn btn-primary" (click)="open(template)">Open modal</button>
 
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form #user="ngForm" (ngSubmit)="onSubmit(user)">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" name="name" ngModel>
            </div>
            <div class="form-group">
                <label for="code">Code</label>
                <input type="text" class="form-control" name="code" ngModel>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" id="exampleFormControlSelect1" name="type" ngModel>
                    <option value="Rhythm Guitar">Rhythm Guitar</option>
                    <option value="Bass Guitar">Bass Guitar</option>
                    <option value="Solo Guitar">Solo Guitar</option>
                    <option value="Drum">Drum</option>
                    <option value="Singer">Singer</option>
                </select>
            </div>
            <div class="form-group">
                <label for="code">Age</label>
                <input type="number" class="form-control" name="age" ngModel>
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
</ng-template>