<form [formGroup]="userRegister" (ngSubmit)="onFormSubmit()" method="post">
    <h1>User Register</h1>
    <div class="form-group">
        <label for="">Name</label>
        <input formControlName="firstname" type="text" class="form-control" placeholder="First Name" 
        [ngClass]="{'is-invalid': userRegister.get('firstname').invalid && userRegister.get('firstname').dirty}">
    </div>
    <div class="form-group">
        <label for="">Lastname</label>
        <input formControlName="lastname" type="text" class="form-control" placeholder="Last Name" 
        [ngClass]="{'is-invalid': userRegister.get('lastname').invalid && userRegister.get('lastname').dirty}">
    </div>
    <div class="form-group">
        <label for="">Email</label>
        <input formControlName="email" type="email" class="form-control" placeholder="@email.com" 
        [ngClass]="{'is-invalid': userRegister.get('email').invalid && userRegister.get('email').dirty}">
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input formControlName="password" type="password" class="form-control"
        [ngClass]="{'is-invalid': userRegister.get('password').invalid && 
                    !userRegister.get('confirmPassword').hasError('minLength') && 
                    userRegister.get('password').dirty}">
        <div>
            *The Password have to be 6 letters or more
        </div>
    </div>
    <div class="form-group">
        <label for="">Confirm Password</label>
        <input formControlName="confirmPassword" type="password" class="form-control"
        [ngClass]="{'is-invalid': userRegister.get('confirmPassword').invalid && userRegister.get('confirmPassword').dirty}">
    </div>
    <div *ngIf="notEqual" class="alert alert-danger" role="alert">
        The Confirm Password have to equal to Password
    </div>
    <button class="btn btn-success pull-right" type="submit" [disabled]="userRegister.invalid">Save</button>
    <a routerLink="/"><button class="btn btn-success pull-right">Back</button></a>
</form>