<div class="modal fade" bsModal #modal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="dialog-events-name">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Modal</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)="Save()">
                    <div class="form-group">
                        <label for="id">Id</label>
                        <input type="text" class="form-control" name="id" [(ngModel)]="user.id" disabled>
                    </div>
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" [(ngModel)]="user.name">
                    </div>
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" class="form-control" name="code" [(ngModel)]="user.code">
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="type" [(ngModel)]="user.type">
                            <option value="Rhythm Guitar">Rhythm Guitar</option>
                            <option value="Bass Guitar">Bass Guitar</option>
                            <option value="Solo Guitar">Solo Guitar</option>
                            <option value="Drum">Drum</option>
                            <option value="Singer">Singer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="code">Age</label>
                        <input type="number" class="form-control" name="age" [(ngModel)]="user.age">
                    </div>
                    <button type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>