<h2>User List</h2>

<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Age</th>
        <th scope="col">Active</th>
        <th scope="col">Date Beginning</th>
        <th scope="col">Date Ending</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users; let i=index">
      <tr>
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ user.name }}</td>
        <td>{{ user.code }}</td>
        <td>{{ user.type }}</td>
        <td>{{ user.age }}</td>
        <td></td>
        <td></td>
        <td></td>
        <td>
          <button type="button" class="btn btn-primary" (click)="GetUserById(user.id)">Update</button>
        </td>
        <td>
          <button type="button" class="btn btn-primary" (click)="DeleteUser(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>

  <app-user-add (user)="InsertUser($event)"></app-user-add>
  <app-user-update (userResponse)="UpdateUser($event)"></app-user-update>
